* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 50px;
}

.header-item {
    margin-left: 16%;
    margin-right: 16%;
} 

.container {
    display: flex;
    flex-direction: column;
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10%;
}

.about-container * {
    width: 300px;
    align-content: center;
    align-self: center;
}

